section div {
    height: 70vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div #banner1 #banner2 {
    position: relative;
    height: 50vh;
    color: white;
}

img .gato1{
    position: relative;
    z-index: 1;
    }

section img .logoinicio {
    position: absolute;
    z-index: 2;
    height: 200px;
}


section h1 {
    position: absolute;
    font-size: 25px;
    font-weight: 900;
    z-index: 3;
    text-align: center;
    left: 50%;
}


section img {
    width: 400px;
    margin: 0 50px; 
}

section .info{
    width: 600px;
    margin: 0 50px;

}