@import url(../CSS/galeria.css);
@import url(../CSS/nav.css);
@import url(../CSS/formulario-reservas.css);
@import url(../CSS/footer.css);
@import url(../CSS/locales.css);


div b{
  color: white;
  text-decoration: underline;
  padding-right: 7px;
}





.header{
  display: flex;
  justify-content:space-evenly;
  padding: 20px;
  align-items: normal;
  /*background:rgba(223, 199, 135, 0.952); /*para tonos marrones*/
  /*background:gray; */ /*para tonos grises*/
  
}

body {
  position: relative;
  padding-top: 1.5em;
  background-image: url(../IMAGENES/Logo-fondo/Cafe\ garritas\ fondo_Mesa\ de\ trabajo\ 1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}
h1 {
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  font-family: "Patrick Hand", cursive;
  font-size: 50px;
}


.patita {
  display: inline-block;
  height: 30px;
}

p {
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
    
} 


div b{
    color: white;
    text-decoration: underline;
    padding-right: 7px;
}




#horarios{
  justify-content: left;
}
.bannertexto {
    background-image: url(../IMAGENES/dueno-acariciando-adorable-gato.jpg);
    background-size: cover;
   opacity: 0.8;   
}

.bannertexto, p{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center; 
    font-weight: 900;
    padding-bottom: 5px;

}

.logoindex {
    height: 250px;
    margin: 10px;
    padding-top: 25px;

}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columna-2 p {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    padding-top: 25%;
    
}

.gatitomenu{
    border-radius: 50%;
    padding: 50px, 50px, 50px, 50px;
}