h1 {
    text-align: center;
    font-family:'Patrick Hand SC', cursive;
    font-size: 50px;
}

nav, .barnav .nav-link {
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

nav{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background:#E6B771;
    position: fixed;
    top: 0;
    width: 100%;
}

nav .logo{
    height: 30px;
}

nav .logo img {
    height: 30px;
}

nav .barnav .nav{
    display:grid;
    grid-template-columns: repeat(4,auto);
    margin-right: 30px;
}

nav .barnav .nav-link{
    padding: 20px 30px;
}

nav .barnav .nav-link:hover{
    cursor: pointer;
    background:#846745;
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.bannertexto {
    background-image: url(../IMAGENES/dueno-acariciando-adorable-gato.jpg);
    background-size: cover;
   opacity: 0.8;   
}

.bannertexto, p{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center; 
    font-weight: 900;
    padding-bottom: 5px;

}

.logoindex {
    height: 250px;
    margin: 10px;
    padding-top: 25px;

}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columna-2 p {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    padding-top: 25%;
    
}

.gatitomenu{
    border-radius: 50%;
    padding: 50px, 50px, 50px, 50px;
}