
@import url(../CSS/galeria.css);
@import url(../CSS/nav.css);
@import url(../CSS/formulario-reservas.css);
@import url(../CSS/footer.css);
@import url(../CSS/locales.css);


div b{
  color: white;
  text-decoration: underline;
  padding-right: 7px;
}





.header{
  display: flex;
  justify-content:space-evenly;
  padding: 20px;
  align-items: normal;
  /*background:rgba(223, 199, 135, 0.952); /*para tonos marrones*/
  /*background:gray; */ /*para tonos grises*/
  
}

body {
  position: relative;
  padding-top: 1.5em;
  background-image: url(../IMAGENES/Logo-fondo/Cafe\ garritas\ fondo_Mesa\ de\ trabajo\ 1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

body {
    background-image: url(../IMAGENES/Logoyfondo/Cafe\ garritas\ fondo_Mesa\ de\ trabajo\ 1.svg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
}


h1 {
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  font-family: "Patrick Hand", cursive;
  font-size: 50px;
}



p {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
    
} 



/*estilo footer*/
span{
    font-size: 25px;
}
footer{
    margin-top: auto;
}

.fb, .tw , .inst, .wtp{
    background: white;
    padding: 10px;
    border-radius: 30px;
    
}

.header{
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
    align-items: normal;
    background:rgba(223, 199, 135, 0.952); /*para tonos marrones*/
    /*background:gray; */ /*para tonos grises*/
    
}

.mail, .tel, .dir{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(37, 31, 31); /*para tonos marrones*/
    /*color: rgb(185, 173, 173); */ /*para tonos grises*/
    text-decoration: none;
    display:flex;
    justify-content: center;
    background:rgb(99, 60, 10); /*para tonos marrones*/
    /*background:grey; */ /*para tonos grises*/
    padding-top: 20px;
    padding-block-end: 20px; 
    
    
}


div b{
    color: white;
    text-decoration: underline;
    padding-right: 7px;
}




#horarios{
  justify-content: left;
}

/**ESTILO DEL BODY INDEX**/
.bannertexto {
    position: relative;
}

.fotoarriba{
    display: block;
    width: 100%;
    height: auto;
}


.textoarriba{
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -3%);
    color: white; 
    font-size: 35px;
    text-align: center;
    font-weight: 900;
}
/**.bannertexto, p{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center; 
    font-weight: 900;
    padding-bottom: 5px;

}**/
.logoindex {
    position: absolute;
    height: 250px;
    transform: translate(-50%, +10%);

}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.columna-1 {
    float: left;
   }

.gatitomenu{
    width: 100%;
    /**border-radius: 150px;**/
 }

.columna-2 p {
    float: right;
    /*width: 50% ; */
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    padding: 25%, 25%, 25%, 25%;
    
}

.rescate {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columna-3 p {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    padding-top: 10%;
}

.gatitorescatado {
    width: 100%;
    /**border-radius: 150px;**/
}

.locales {
    position: relative;
}

.imagenabajo{
    display: block;
    width: 100%;
    height: auto;
}

.contenedortexto p {
    font-family: 'Monteserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #846745;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}